@font-face { font-family: Ortland; src: url('https://res.cloudinary.com/dblhjs3ea/raw/upload/v1723124824/Ortland_a7b4di.otf'); }
/*@font-face { font-family: Montserrat-Regular; src: url('/fonts/Montserrat-Regular.ttf'); }
@font-face { font-family: Montserrat-SemiBold; src: url('/fonts/Montserrat-SemiBold.ttf'); }
@font-face { font-family: Montserrat-ExtraBold; src: url('/fonts/Montserrat-ExtraBold.ttf'); }*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #FAF3F0;
    color: #000;
}

.text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    position: absolute;
    width: 435px;
    left: 20%;
    margin-left: -225px;
    height: 40px;
    top: 38%;
    margin-top: -20px;
    color: #666666;
  }
  
  .text p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-size: 40px;
  }
  
  .word {
    position: absolute;
    width: 365px;
    opacity: 0;
    text-align: center;
  }
  
  .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .wisteria {
    color: #FFD05A;
  }
  
  .belize {
    color: #FF6A87;
  }
  
  .green {
    color: #6B66FF;
  }

header {
    background-image: url("img/BG Colorato@2x.png");
    background-position: top;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 2;
}

header h1 {
    margin: 0;
    font-family: 'Ortland', light;
    font-size: 90px;
}

nav {
    position: relative;
}

.menu-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 53px;
    right: 30px;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    line-height: 1;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
    z-index: 1;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: #000;
    transition: all 0.3s;
    background-color: #fff;
    border-radius: 10px;
}

section {
    padding: 50px 20px;
}

h2 {
    color: #ff77c0;
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

#festival, #dove, #faqs, #orari {
    margin-bottom: 2rem;
}

#festival{
    padding: 40px;
    margin-left: 50%;
}

.faq-item {
    background-color: white;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 0.5s;
}

.faq-item img{
    width: 15px;
    height: 15px;
}

.faq-question {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
}

.faq-answer {
    display: none;
    padding: 1rem;
    border-top: 1px solid var(--accent-color);
    transition: all 0.5s;
}

/* Google Maps */
iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Tabella degli orari */
.table-container {
    display: flex;
    gap: 20px; /* Spazio tra le tabelle, puoi modificarlo come preferisci */
}
.table-item {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ff77c0;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}

/*Sponsor*/
#sponsor {
    padding: 2rem;
    background-color: var(--bg-color);
    border-top: 1px solid var(--primary-color);
    text-align: center;
}

.sponsor-category {
    margin-bottom: 2rem;
}

.sponsor-category h3 {
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.sponsor-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.sponsor-logos img {
    width: 100px;
    height: auto;
    filter: brightness(0.5) invert(1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.sponsor-logos img:hover {
    transform: scale(1.1);
    filter: brightness(0.8) invert(1);
}



@media screen and (max-width: 768px) {
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }
    
    .table-container{
        display: block; 
    }

    th {
        width: 100%;
        padding: 10px;
    }

    .links{
        display: none;
    }

    .text{
        position: relative;
        margin-top: 30px;
        width: 160px;
        height: 40px;
        color: #666666;
        margin-left: 5%;
        text-align: center;

    }

    .text p{
        font-size: 25px;
    }

    .word{
        margin-top: 45px;
        margin-left: -160px;
        width: 200px;
        opacity: 0;
        text-align: right;
        font-size: 25px;

    }


    #festival{
        margin-left: 0%;
    }

    .entry{
        margin-top: 110px;
        text-align: center;
    }

    .social{
        padding-bottom: 20px;
    }
    
    .social-icons {
        display: flex;
        gap: 1rem;
        align-items: center;
        position: absolute;
        margin-left: -40px;
    }

    .contact{
        padding-top: 40px;
    }

    .sponsor-logos img {
        width: 80px;
    }
}


@media screen and (max-width: 768px) {
    header{
        position: fixed;
    }

    header h1{
        font-size: 50px;
    }

    #festival {
        padding-top: 120px;
    }

    .menu-icon {
        display: block;
        margin-top: -20px;
    }

    nav ul {
        display: none;
        position:absolute;
        top: 0px;
        background-image: url("img/BG Colorato@2x.png");
        background-position: top;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        padding: 15px;
        text-align: center;
    }

    nav ul li a:hover{
        border-radius: 0px;
    }
}


@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

footer {
    background-image: url("img/BG Colorato@2x.png");
    background-position: top;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    left: 47%;
    padding-top: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.instagram {
    background-image: url('img/instagram.png');
}

.email {
    background-image: url('img/email.png');
}

.about {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
    padding-top: 11px;
}

.about h1{
    font-size: 45px;
    padding-bottom: 0px;
}


.footer-section h2 {
    margin-bottom: 10px;
    color: #fff;
}

.footer-section h1{
    font-family: 'Ortland', sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-section a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-bottom {
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
}

/* Responsive footer */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}
