body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF3F0;
    color: #000;
}

header {
    background-color: #8C57DB;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

header h1 {
    margin: 0;
}

nav {
    position: relative;
}

.menu-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 5px 0;
    transition: 0.4s;
}

nav ul {
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
}

section {
    padding: 50px 20px;
}

h2 {
    color: #8C57DB;
    text-align: center;
    font-size: 40px;
}

#festival, #dove, #faqs, #orari {
    margin-bottom: 2rem;
}

#festival{
    padding: 40px;
 
}

.faq-item {
    background-color: white;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 0.3s;
}

.faq-question {
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    display: none;
    padding: 1rem;
    border-top: 1px solid var(--accent-color);
}

/* Google Maps */
iframe {
    width: 100%;
    height: 300px;
    border: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Tabella degli orari */
.table-container {
    display: flex;
    gap: 20px; /* Spazio tra le tabelle, puoi modificarlo come preferisci */
}
.table-item {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #8C57DB;
    color: white;
}

tr:hover {
    background-color: #f2f2f2;
}



@media screen and (max-width: 768px) {
    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        border: 1px solid red;
    }
    
    .table-container{
        display: block; 
    }

    th {
        width: 100%;
        padding: 10px;
    }
}


@media screen and (max-width: 768px) {
    header{
        position: fixed;
    }

    #festival {
        padding-top: 100px;
    }

    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        position:absolute;
        top: 0px;
        background-color: #8C57DB;
        width: 100%;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        display: block;
        padding: 15px;
        text-align: center;
    }
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

footer {
    background-color: #8C57DB;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-section a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-bottom {
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
}

/* Responsive footer */
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}
